<html>

  <head>
    <title>11 out of 10 Plumbing</title>
    <link rel="stylesheet" href="index_styles.css">
  </head>

  <body>

        <header = id="page_header">
          <div class="container">
          <img src="plumber-van.png" alt="logo" class="logo">
          <nav>
            <ul>
              <li><a href="index.html">Dashboard</a></li>
              <li><a href="/schedule">Schedule</a></li>
              <li><a href="/invoice">Invoice</a></li>
              <li><a href="/customer">Customer</a></li>
              <li><a href='/employee'>Employee</a></li>
              <li><a href="/service">Service</a></li>
              <li><a href="/payment">Payment</a></li>
            </ul>
          </nav>
          </div>
        </header>
        <div>
          <h1>11 out of 10 Plumbing</h1>
          <h2>PLUMBING & DRAIN EXPERTS</h2>
          <h2>A Reputation Built on Honesty, Integrity & Exceptional Customer Service</h2>
        </div>
        <div>
          <img class="img-plumber" src="3plumber.png" alt="welcome_plumber"
        </div>





  </body>

</html>
