@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  margin: 0;
  margin-top: 0px;
}
header {
  background: #5DADE2;
}
header::after {
  content: '';
  display: table;
  clear: both;
}


h1{
  text-align: center;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  color: #154360;
}

h3{
  text-align: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #154360;
  margin-top: 0px;
}

.img-plumber {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.logo {
  width: 10%;
  float: left;

}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  float: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;


}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}


nav a:hover{
  color: #21618C;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

.submission-form {
  text-align: center;
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 15px;
  padding: 2rem;
  font-size: 15px;
  background: #D5D8DC;
  font-family: 'Jost', sans-serif;

}
label{
  width: 150px;
  text-align: left;
  display: inline-block;
  padding: 1rem 0 .5rem;
  font-family: 'Jost', sans-serif;
}

input, text, select {

  width: 250px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #808B96;
  border-radius: 5px;
}


#sendBtn{
  border: 0;
  background: #0080FF;
  padding: .5rem;
  color: white;
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Jost', sans-serif;

}


table{
    border-collapse: collapse;
    width: 80%;
    margin-left:auto;
    margin-right:auto;

}
table.list{
    width:90%;
}

td, th {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #dddddd;
    font-family: 'Jost', sans-serif;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #85C1E9;
}



b{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}
